<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
  <title>Редакторовать продукт</title>
</head>

<body>
  <main layout:fragment="content">
    <form action="#" th:action="@{/admin/product/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" th:value="*{id}" id="id" class="form-control" readonly disabled>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Название</label>
        <input type="text" th:field="*{name}" id="name" class="form-control">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Цена</label>
        <input type="number" th:field="*{price}" id="price" class="form-control" min="1" step="1">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="typeId" class="form-label">Тип</label>
        <select th:field="*{typeId}" id="typeId" class="form-select">
          <option selected value="">Укажите категорию</option>
          <option th:each="type : ${types}" th:value="${type.id}">[[${type.name}]]</option>
        </select>
        <div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}" class="invalid-feedback"></div>
      </div>
      <div class="mb-3 d-flex flex-row">
        <button class="btn btn-primary me-2 button-fixed-width" type="submit">Сохранить</button>
        <a class="btn btn-secondary button-fixed-width" href="/admin/product">Отмена</a>
      </div>
    </form>
  </main>
</body>

</html>